@mixin fixin($direccion:row, $justify:space-between, $align:center, $width:auto, $height:auto,$padding:0,$gap:0)
    display: flex
    flex-direction: $direccion
    justify-content: $justify
    align-items: $align
    width: $width
    height: $height
    padding: $padding
    gap: $gap