@use "mixins"
@use "variables"
*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    height: 100dvh
    width: 100dvw

video
    position: fixed
    top: 0
    left: 0
    width: 0px
    height: 0px

main
    background: url("https://www.fightersgeneration.com/nf9/game/stage/samuraishodown2-stage-gairyu-isle.gif")
    width: 100%
    height: 100%
    background-size: cover
    background-position: center
    overflow: hidden

    .logo
        @include mixins.fixin($width: 100%, $justify: center, $align: center, $padding: 1rem 0)

        img
            width: 35%

    .vs
        @include mixins.fixin($width: 100%, $justify: center, $align: center, $padding: 2rem 1rem)


        .player,.versus
            @include mixins.fixin($direccion: column, $width: 100%, $justify: space-between, $align: center, $padding: 0 1rem)

            gap: 1rem
            .personaje
                @include mixins.fixin($direccion: column, $width: 100%, $justify: end, $align: center, $height: 55dvh)
                position: relative
                // background: rgba(252, 23, 23, 0.23)

                img
                    width: 100%
                    height: 100%
                    object-fit: contain
                    object-position: center

                .infoJugador
                    @include mixins.fixin($direccion: column, $width: 100%, $justify: space-between, $align: center, $gap: 1rem)
                    position: absolute
                    bottom: 2rem

                .ganador
                    width: 25%
                    display: none

            h1,h2,p
                font-family: 'Anton', Impact, sans-serif
                font-size: clamp(1rem, 3vw, 2rem)
                text-transform: uppercase
                color: variables.$naranja
                -webkit-text-stroke: 1px #171717
                text-shadow: variables.$sombra-texto
            p
                font-size: clamp(0.8rem, 1vw, 1rem)

        .versus

            @include mixins.fixin($direccion: column, $width: 70%, $justify: space-between, $align: center,$gap: 4rem)

            img
                width: 100%

    .azar
        @include mixins.fixin($width: 100%, $justify: center, $align: center, $padding: 2rem 1rem)

        button
            font-family: 'Anton', Impact, sans-serif
            font-size: clamp(1rem, 3vw, 2rem)
            text-transform: uppercase
            color: variables.$naranja
            -webkit-text-stroke: 1px #171717
            text-shadow: variables.$sombra-texto
            background-color: red
            border: solid 4px variables.$naranja
            border-radius: .5rem
            padding: 1rem 2rem
            cursor: pointer
            outline: none
            // transition: all .3s ease-in-out

    .jugar-nuevo
        height: 4.5rem
        margin-top: .5rem
        display: none

        button 
            height: 100%
            padding: 1.5rem
            font-size: 25px
            display: flex
            align-items: center